{% set mainClass = "download" %}
{% set route = "download" %}
{% set title = "Download" %}

{% extends "en/layout.njk" %}

{% block content %}
<h1>Download Optolith</h1>
<p>Optolith is available for Windows (exe), Mac (dmg) and Linux (64-bit, AppImage and tar.gz).</p>
<p><a class="btn" href="http://www.ulisses-ebooks.de/product/220253">Download from Scriptorium</a></p>
{% endblock %}
