{% set mainClass = "home" %}
{% set route = "" %}
{% set title = "Home" %}

{% extends "en/layout.njk" %}

{% block content %}
<h1><span>Optolith</span> <span>Character Creator and Manager for TDE 5th Edition</span></h1>
<p class="promo">
  Optolith is a tool to create and manage characters for the Pen & Paper RPG <em>The Dark Eye</em> (5th Edition) by Ulisses Spiele. If you use Optolith, you don't have to worry anymore if you follow all the rules &ndash; because it does it for you! It also offers you a clear user interface, you can use it both with the mouse and touch, and it can display rules and crunch texts while you create or edit a hero. So you can concentrate on the essentials of hero creation and management: The heroes themselves.
</p>
<p>
  <a href="/en/download" class="btn">Download Optolith</a>
</p>
<h2>Community</h2>
<ul>
  <li><a href="https://github.com/elyukai/optolith-client/issues">GitHub</a></li>
  <li><a href="https://www.orkenspalter.de/index.php?thread/38282/">Orkenspalter (EN)</a></li>
  <li><a href="http://www.ulisses-us.com/forum/viewtopic.php?f=14&t=953">Ulisses US Forum</a></li>
  <li><a href="https://discord.gg/wfdgB9g">Join the Discord server!</a></li>
</ul>
{% endblock %}
