{% set mainClass = "imprint" %}
{% set route = "imprint" %}
{% set title = "Imprint" %}

{% extends "en/layout.njk" %}

{% block content %}
<h1>Imprint</h1>

<h2>Address</h2>
<address>
  Lukas Obermann<br>
  Ballastbrücke 29<br>
  24937 Flensburg
</address>

<h2>Contact</h2>
<dl>
  <dt>E-Mail</dt>
  <dd><a href="mailto:support@optolith.app">support@optolith.app</a></dd>
  <dt>Phone</dt>
  <dd><a href="tel:+4915227707397">01522 7707397</a></dd>
</dl>
{% endblock %}
