<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>{{ title }} &ndash; Optolith</title>
</head>
<body>
  <header>
    <div id="header-inner">
      <nav>
        <ul>
          <li><a href="/en/"><object type="image/svg+xml" data="/images/logo.svg" id="header-logo">Home</object></a></li>
          <li><a href="/en/download">Download</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="{{ mainClass }}">
    <div id="main-inner">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer>
    <div id="footer-inner">
      <ul class="links">
        <li><a href="/en/">Home</a></li>
        <li><a href="/en/download">Download</a></li>
        <li><a href="/en/privacy">Privacy Policy &amp; Disclaimer</a></li>
        <li><a href="/en/thirdpartylicenses">Third-party licenses</a></li>
        <li><a href="/en/imprint">Imprint</a></li>
      </ul>
      <ul class="other-languages">
        <li><a href="/de/{{ route }}">Deutsch</a></li>
        <li><a href="/en/{{ route }}">English</a></li>
      </ul>
      <p class="legal">
        &copy; 2017-present Lukas Obermann and contributors under license of Ulisses Spiele
      </p>
      <object type="image/svg+xml" data="/images/footer-logo.svg" id="footer-logo" aria-role="presentation" />
    </div>
  </footer>
</body>
</html>
