{% set mainClass = "notfound" %}
{% set title = "404 Not Found" %}

{% extends "en/layout.njk" %}

{% block content %}
<h1>404 Not Found</h1>
<p>Sadly there's nothing you could view here.</p>
{% endblock %}
