{% set mainClass = "home" %}
{% set route = "" %}
{% set title = "Startseite" %}

{% extends "de/layout.njk" %}

{% block content %}
<h1><span>Optolith</span> <span>Heldenerstellung und -verwaltung für DSA5</span></h1>
<p class="promo">
  Optolith ist ein Tool zum Erstellen und Verwalten von Helden für das Pen-and-Paper-Rollenspiel <em>Das Schwarze Auge 5</em> von Ulisses Spiele. Wenn du Optolith benutzt, muss du dich nicht mehr darum kümmern, ob du alle Regeln einhälts &ndash; denn das übernimmt es für dich! Es bietet dir außerdem eine übersichtliche Benutzeroberfläche, du kannst es sowohl per Maus als auch per Touch optimal bedienen und es kann dir Regeln und Crunch-Texte anzeigen, während du einen Helden erstellst oder editierst. Damit du dich auf das Wesentliche bei der Heldenerstellung und -verwaltung konzentrieren kann: Die Helden selbst.
</p>
<p>
  <a href="/de/download" class="btn">Optolith herunterladen</a>
</p>
<h2>Community</h2>
<ul>
  <li><a href="https://github.com/elyukai/optolith-client/issues">GitHub</a></li>
  <li><a href="https://www.orkenspalter.de/index.php?thread/23638/">Orkenspalter</a></li>
  <li><a href="https://dsaforum.de/viewtopic.php?f=9&t=45064">DSAForum</a></li>
  <li><a href="https://discord.gg/wfdgB9g">Komm auf den Discord-Server!</a></li>
</ul>
{% endblock %}
