{% extends "layout.njk" %}

{% block content %}
<h1>Download Optolith</h1>
<ul>
  <li>From <a href="http://www.ulisses-ebooks.de/product/209711">German Scriptorium</a></li>
  <li>From <a href="http://www.drivethrurpg.com/product/220253">English Scriptorium</a></li>
</ul>
{% endblock %}
