{% extends "layout.njk" %}

{% block content %}
<object type="image/svg+xml" data="images/logo.svg" id="logo">
  Optolith Logo
</object>
<h1>Page under construction</h1>
<p>Download Optolith from the <a href="http://www.ulisses-ebooks.de/product/209711">German Scriptorium</a> or <a href="http://www.drivethrurpg.com/product/220253">English Scriptorium</a>!</p>
<h2>Get Help</h2>
<ul>
  <li><a href="https://github.com/elyukai/optolith-client/issues">GitHub</a></li>
  <li><a href="https://www.orkenspalter.de/index.php?thread/23638/">Orkenspalter (DE)</a></li>
  <li><a href="https://dsaforum.de/viewtopic.php?f=9&t=45064">DSAForum (DE)</a></li>
  <li><a href="http://www.ulisses-us.com/forum/viewtopic.php?f=14&t=953">Ulisses US Forums (EN)</a></li>
</ul>
{% endblock %}
