<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>{{ title }} &ndash; Optolith</title>
</head>
<body>
  <header>

  </header>
  <main>
    <div id="main-inner">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer>
    <div id="footer-inner">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/download">Download</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
