:root {
  --gold: #826a3e;
  --gold-50-bright: #79643c; /* 50% brightness */
  --dark-gold: #5d4517;
  --white: #f7f4ed;
  --grey: #7a7a7a;
  --dark-grey: #363636;
  --black: #111;
  --blue: #0075ac;
  --bright-blue: #3bb8f1;
  --layout-unit: 20px;
  --max-width: 55rem;

	--separator-color: var(--grey);
	--separator-color-halftransparent: rgba(122, 122, 122, .3);
	--secondary-text-color: rgba(122, 122, 122, .5);
	--disabled-color: rgba(122, 122, 122, .3);
	--separator-color-transparent: rgba(122, 122, 122, .2);
	--selection-color: var(--gold-50);
	--accent-color: var(--gold);
	--accent-color-intense: var(--dark-gold);
	--background-color: var(--black);
	--background-color-transparent06: transparentize(#111, .4);
	--background-color-transparent08: transparentize(#111, .2);
	--headings-color: var(--white);
	--text-color: var(--grey);
  --link-color: var(--gold-50-bright);
  --link-color-hover: var(--white);
  --link-color-active: var(--dark-gold);
  --footer-text-color: var(--grey);
  --horizontal-padding: var(--layout-unit);
  --legal-text: var(--dark-grey);
  --code-color: #cac9c7;
  --code-background: var(--dark-grey);
}
