@import "fonts.css";
@import "colors.css";

:root {
  font-size: 100%;
}

@media (min-width: 400px) {
  :root {
    --horizontal-padding: calc(var(--layout-unit) * 2);
  }
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--dark-gold);
  color: var(--white);
}

.hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  font: 400 1.3rem/1.6em "Alegreya Sans";
  color: var(--text-color);
  letter-spacing: 0.03em;
  min-height: calc(100vh - 200px);
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  height: 120px;
  width: 120px;
}

a.btn,
button {
  border: 1px solid var(--link-color);
	padding: 0 var(--layout-unit);
  display: inline-flex;
  align-items: center;
  min-height: 40px;
	min-width: 140px;
	letter-spacing: 0.1em;
	font: bold 1em/1em "Alegreya";
  text-align: center;
	text-transform: uppercase;
  text-decoration: none;
}

a.btn:hover,
button:hover {
  border-color: var(--link-color-hover);
}

a.btn:active,
button:active {
  border-color: var(--link-color-active);
}

/* HEADER */

body > header {
  height: calc(var(--layout-unit) * 4);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  z-index: 10;
}

#header-inner {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--horizontal-padding);
  display: flex;
  align-items: center;
}

body > header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none outside none;
  height: calc(var(--layout-unit) * 4);
}

body > header nav ul li {
  margin-left: calc(var(--layout-unit) * 2);
}

body > header nav ul li a {
  text-decoration: none;
  font-size: 1.3em;
  display: block;
}

body > header nav ul li a,
body > header nav ul li a:visited {
  color: var(--link-color);
  z-index: 2;
}

body > header nav ul li a:hover {
  color: var(--link-color-hover);
}

body > header #header-logo {
  height: calc(var(--layout-unit) * 2);
  z-index: -1;
  pointer-events: none;
  display: block;
}

/* MAIN */

main {
  display: flex;
  justify-content: center;
  padding: calc(var(--layout-unit) * 5) 0 0;
}

#main-inner {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--horizontal-padding);
}

main h1 {
  font: italic normal 400 2.8rem/1.2em "Alegreya Sans";
  margin: 68px 0 0;
  color: var(--headings-color);
}

main h2 {
  font: normal 400 2rem/1.1em "Alegreya Sans";
  margin: 2rem 0 1rem;
  color: var(--headings-color);
}

main h3 {
  font: normal 400 1.6rem/1.1em "Alegreya Sans";
  margin: 1.5rem 0 1rem;
  color: var(--headings-color);
}

main h4 {
  font: normal 400 1.2rem/1.1em "Alegreya Sans";
  margin: 1.25rem 0 1rem;
  color: var(--headings-color);
}

main a,
main a:visited {
  color: var(--link-color);
}

main a:hover {
  color: var(--link-color-hover);
}

main p {
  margin: 0.75rem 0 0;
}

main ul {
  margin: 0.75rem 0 0;
  padding: 0 0 0 25px;
  display: block;
}

main ul li {
  display: block;
  position: relative;
}

main ul li:not(:first-child) {
  margin: 0.375rem 0 0;
}

main ul li::before {
  content: "";
  display: block;
  position: absolute;
  margin-left: -24px;
  margin-top: 10px;
  width: 8px;
  height: 8px;
  background: var(--separator-color-halftransparent);
  transform: rotate(45deg);
}

main ul ul {
  margin: 0;
}

main figure {
  margin: 2rem;
  position: relative;
}

main figure img {
  max-width: 100%;
}

code {
  font: 0.825em/1.5em "Fira Code";
  color: var(--code-color);
  background: var(--code-background);
  padding: 0 3px;
  border-radius: 3px;
}

pre > code.hljs {
  font: 0.95rem/1.5em "Fira Code";
  background: unset;
  padding: unset;
  border-radius: unset;
}

section {
  margin: 2rem 0;
}

section.intro {
  margin: 1rem 0 2rem;
  font-size: 1.4rem;
}

header.h1 {
  margin-top: 68px;
}

header.h1 > h1 {
  margin-top: 0;
}

nav.breadcrumbs {
  margin: 0 0 0.5rem;
}

nav.breadcrumbs ol {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav.breadcrumbs ol li {
  margin: 0;
}

nav.breadcrumbs ol li:not(:last-child) {
  margin-right: 0.75em;
  display: flex;
  align-items: center;
}

nav.breadcrumbs ol li:not(:last-child)::after {
  content: "";
  position: static;
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  border-width: 2px 2px 0 0;
  border-style: solid;
  border-color: var(--separator-color-halftransparent);
  transform: rotate(45deg);
  margin-left: 0.5em;
}

nav.breadcrumbs ol li a {
  display: block;
}

nav.reference-children {
  margin: 4rem 0;
}

nav.reference-children ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  padding: 0;
  list-style: none;
  align-items: stretch;
}

nav.reference-children ul li {
  position: relative;
  margin: 0;
}

nav.reference-children ul li::before {
  display: none;
}

nav.reference-children ul li a {
  display: block;
  padding: 1.5rem;
  height: 100%;
  text-decoration: none;
}

nav.reference-children ul li a::before,
nav.reference-children ul li a::after {
  content: "";
  position: absolute;
  display: block;
  pointer-events: none;
  width: 1rem;
  height: 100%;
  border-style: solid;
  border-color: var(--gold);
  top: 0;
  transition: width 0.15s ease-in-out;
}

nav.reference-children ul li a::before {
  left: 0;
  border-width: 1px 0 1px 1px;
}

nav.reference-children ul li a::after {
  right: 0;
  border-width: 1px 1px 1px 0;
}

nav.reference-children ul li a:hover::before,
nav.reference-children ul li a:hover::after {
  width: 50%;
}

nav.reference-children ul li a h3 {
  margin: 0;
}

nav.reference-children ul li a p {
  margin: 0.5rem 0 0;
}

/* HOME */
header > h1 + p {
  font-size: 1.9em;
  line-height: 1.3em;
  color: var(--text-color);
  font-style: italic;
  margin: 0;
}

/* ABOUT */

address {
  font-style: normal;
}

p.license {
  white-space: pre-line;
  max-width: 600px;
  font: .9em/1.5em "Fira Code";
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  padding: calc(var(--layout-unit) * 4) 0;
  margin-top: calc(var(--layout-unit) * 2);
}

#footer-inner {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 var(--horizontal-padding);
  display: grid;
  grid-template-areas: "links other-langs logo"
                       "legal legal       logo";
  grid-template-columns: 1fr 1fr calc(var(--layout-unit) * 3);
  grid-template-rows: auto auto;
  gap: var(--layout-unit);
}

footer .legal {
  color: var(--legal-text);
  font-size: 0.9em;
  margin: 10px 0 0;
  grid-area: legal;
}

footer ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

footer ul.links {
  grid-area: links;
}

footer ul.other-languages {
  grid-area: other-langs;
}

footer ul li a,
footer ul li a:visited {
  text-decoration: none;
  color: var(--footer-text-color);
}

footer ul li a:hover {
  color: var(--link-color-hover);
}

footer #footer-logo {
  height: calc(var(--layout-unit) * 3);
}
