a.btn,
button {
  border: 2px solid var(--text-color-1);
  color: var(--text-color-1);
  padding: 0.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--heading-5);
  text-align: center;
  text-decoration: none;
  margin: 1rem 0;

  &:hover {
    border-color: var(--link-color);
    color: var(--link-color);
  }

  &:active {
    border-color: var(--link-color-active);
    color: var(--link-color-active);
  }
}

a.btn.btn--primary,
button.primary {
  color: var(--background-color);
  border-color: transparent;
  background-color: var(--text-color-1);
  box-shadow: var(--shadow-1);

  &:hover {
    color: var(--background-color);
    border-color: transparent;
    background-color: var(--link-color);
  }

  &:active {
    color: var(--background-color);
    border-color: transparent;
    background-color: var(--link-color-active);
  }
}
