/**
 * This is a variable font
 * You can controll variable axes as shown below:
 * font-variation-settings: 'wght' 900.0;
 *
 * available axes:
 *
 * 'wght' (range from 100.0 to 900.0)
 *
 */
// @font-face {
//   font-family: 'CabinetGrotesk-Variable';
//   src: url('../fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
//        url('../fonts/CabinetGrotesk-Variable.woff') format('woff');
//        font-weight: 100 900;
//        font-display: swap;
//        font-style: normal;
// }

// Cabinet Grotesk

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Thin.woff2")
      format("woff2"),
    url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.woff2")
      format("woff2"),
    url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Extralight.woff")
      format("woff");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Light.woff2")
      format("woff2"),
    url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Regular.woff")
      format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff2")
      format("woff2"),
    url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Medium.woff")
      format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff2")
      format("woff2"),
    url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff2")
      format("woff2"),
    url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.woff")
      format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff2")
      format("woff2"),
    url("/assets/fonts/CabinetGrotesk/CabinetGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

// Neco

/**
 * This is a variable font
 * You can controll variable axes as shown below:
 * font-variation-settings: 'wght' 900.0;
 *
 * available axes:
 *
 * 'wght' (range from 400.0 to 900.0)
 *
 */
// @font-face {
//   font-family: 'Neco-Variable';
//   src: url('../fonts/Neco-Variable.woff2') format('woff2'),
//        url('../fonts/Neco-Variable.woff') format('woff');
//        font-weight: 400 900;
//        font-display: swap;
//        font-style: normal;
// }

/**
 * This is a variable font
 * You can controll variable axes as shown below:
 * font-variation-settings: 'wght' 900.0;
 *
 * available axes:
 *
 * 'wght' (range from 400.0 to 900.0)
 *
 */
// @font-face {
//   font-family: 'Neco-VariableItalic';
//   src: url('../fonts/Neco-VariableItalic.woff2') format('woff2'),
//        url('../fonts/Neco-VariableItalic.woff') format('woff');
//        font-weight: 400 900;
//        font-display: swap;
//        font-style: italic;
// }

@font-face {
  font-family: "Neco-Regular";
  src: url("/assets/fonts/Neco/Neco-Regular.woff2") format("woff2"),
    url("/assets/fonts/Neco/Neco-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Neco-Italic";
  src: url("/assets/fonts/Neco/Neco-Italic.woff2") format("woff2"),
    url("/assets/fonts/Neco/Neco-Italic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Neco-Medium";
  src: url("/assets/fonts/Neco/Neco-Medium.woff2") format("woff2"),
    url("/assets/fonts/Neco/Neco-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Neco-MediumItalic";
  src: url("/assets/fonts/Neco/Neco-MediumItalic.woff2") format("woff2"),
    url("/assets/fonts/Neco/Neco-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Neco-Bold";
  src: url("/assets/fonts/Neco/Neco-Bold.woff2") format("woff2"),
    url("/assets/fonts/Neco/Neco-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Neco-BoldItalic";
  src: url("/assets/fonts/Neco/Neco-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/Neco/Neco-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Neco-Black";
  src: url("/assets/fonts/Neco/Neco-Black.woff2") format("woff2"),
    url("/assets/fonts/Neco/Neco-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Neco-BlackItalic";
  src: url("/assets/fonts/Neco/Neco-BlackItalic.woff2") format("woff2"),
    url("/assets/fonts/Neco/Neco-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

// Fira Code

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/FiraCode/FiraCode-Light.otf") format("opentype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/FiraCode/FiraCode-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/FiraCode/FiraCode-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/FiraCode/FiraCode-Bold.otf") format("opentype");
}
