@use "responsive";

footer {
  padding: 4.5rem var(--padding-x);
  margin-top: 2.5rem;
  font-size: 0.75rem;
  line-height: 1.5em;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "links"
    "other-langs"
    "legal";
  align-items: end;

  .links {
    grid-area: links;
  }

  .other-languages {
    grid-area: other-langs;
  }

  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      &::before {
        display: none;
      }

      a {
        text-decoration: none;
        color: var(--text-color-2);

        &:hover {
          color: var(--text-color-1);
        }
      }
    }
  }

  .legal {
    grid-area: legal;
    color: var(--text-color-3);
    margin: 0;
  }

  @media (min-width: responsive.$screen-sm) {
    grid-template-areas:
      "links other-langs"
      "legal legal";

    .other-languages {
      text-align: right;
    }
  }

  @media (min-width: responsive.$screen-lg) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 900px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "links links links other-langs other-langs other-langs"
      ". . legal legal legal legal";
    gap: 2.4rem 0;

    .legal {
      text-align: right;
    }

    .links ul {
      // display: block;
      // column-count: 2;
      // column-gap: 0;

      // li.odd-column {
      //   padding-top: 1.775rem;
      // }
    }
  }
}
