footer {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  margin-top: 2rem;

  #footer-inner {
    width: 100%;
    max-width: var(--max-width);
    padding: 0 1.5rem;
    display: grid;
    grid-template-areas:
      "links logo"
      "other-langs logo"
      "legal legal";
    grid-template-columns: 1fr 4rem;
    grid-template-rows: repeat(3, auto);
    gap: 1.5rem;

    @media (min-width: 640px) {
      grid-template-areas:
        "links other-langs logo"
        "legal legal logo";
      grid-template-columns: 1fr 1fr 4rem;
      grid-template-rows: repeat(2, auto);
    }
  }

  .legal {
    color: var(--text-color-4);
    font-size: 0.9em;
    margin: 10px 0 0;
    grid-area: legal;
  }

  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    &.links {
      grid-area: links;
    }

    &.other-languages {
      grid-area: other-langs;
    }

    li {
      &::before {
        display: none;
      }

      a,
      a:visited {
        text-decoration: none;
        color: var(--text-color-3);
      }

      a:hover {
        color: var(--text-color-1);
      }
    }
  }

  #footer-logo {
    height: 4rem;
    grid-area: logo;
  }
}
