@use "responsive";

:root {
  --white: #f5f5f5;
  --lighter-gray: #ececea;
  --light-gray: #bbbbbb;
  --gray: #616161;
  --dark-gray: #393939;
  --black: #111111;
  --gold: #836c45; // PANTONE P 2-8 U
  --dark-gold: #766847; // PANTONE P 9-16 U

  --text-color-1: var(--black);
  --text-color-2: var(--gray);
  --text-color-3: var(--light-gray);

  --brand-color-1: var(--gold);
  --brand-color-2: var(--black);
  --brand-color-3: var(--white);

  --background-color: var(--white);

  --link-color: var(--gold);
  --link-color-hover: var(--black);
  --link-color-active: var(--dark-gold);

  --selection-color: var(--white);
  --selection-background: var(--gold);

  --code-color: var(--dark-gray);
  --code-background: var(--lighter-gray);

  --shadow-1: 0 6px 24px rgba(17, 17, 17, 0.2);
  --shadow-2: 0 5px 20px rgba(17, 17, 17, 0.1);
  --shadow-3: 0 4px 16px rgba(17, 17, 17, 0.05);

  font-size: 20px;
  --heading-1: 800 2rem/1.05em CabinetGrotesk;
  --heading-2: 700 1.8rem/1.1em CabinetGrotesk;
  --heading-3: 700 1.6rem/1.15em CabinetGrotesk;
  --heading-4: 700 1.4rem/1.2em CabinetGrotesk;
  --heading-5: 700 1.2rem/1.25em CabinetGrotesk;
  --text: 400 1rem/1.4em Neco;
  --featured-text: 400 1.2rem/1.25em Neco;

  --header-height: 96px;
  --padding-x: 1.2rem;
}

@media (min-width: responsive.$screen-sm) {
  :root {
    --padding-x: 2.4rem;
  }
}

@media (min-width: responsive.$screen-md) {
  :root {
    --padding-x: 4.8rem;
  }
}

@media (min-width: responsive.$screen-lg) {
  :root {
    --padding-x: 0;
  }
}

// @media (prefers-color-scheme: light) {
//   :root {
//     --text-color-1: var(--black);
//     --text-color-2: var(--dark-grey);
//     --text-color-3: var(--grey);
//     --text-color-4: var(--light-grey);

//     --brand-color-1: var(--gold);
//     --brand-color-2: var(--dark-gold);
//     --brand-color-3: var(--black);
//     --brand-color-4: var(--white);

//     --background-color: var(--extralight-grey);

//     --link-color: var(--gold-50-bright);
//     --link-color-hover: var(--black);
//     --link-color-active: var(--dark-gold);

//     --selection-color: var(--white);
//     --selection-background: var(--gold-50-bright);

//     --code-color: var(--dark-grey);
//     --code-background: var(--light-grey);
//   }
// }
