@use "fonts";
@use "globals";
@use "header";
@use "buttons";
@use "docs";
@use "highlight";
@use "footer";

* {
  box-sizing: border-box;
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}

.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  font: var(--text);
  color: var(--text-color-1);
}

/* MAIN */

main {
  padding: var(--header-height) 0 0;

  > article {
    > header {
      padding: 2rem 1.2rem 0;
    }
  }

  > section,
  > article > section {
    padding: 0 1.2rem;
  }

  section {
    margin: 2.4rem 0;

    &.intro {
      font: var(--featured-text);
      margin: 1rem 0;
    }

    &.cta {
      margin: 4rem 0;
      display: flex;
      justify-content: center;
      position: relative;

      > .btn {
        width: calc(100% - 2.4rem);
      }
    }
  }
}

h1 {
  font: var(--heading-1);
  margin: 0;
  color: var(--text-color-1);
}

h2 {
  font: var(--heading-2);
  margin: 1.6rem 0 1.2rem;
  color: var(--text-color-1);
}

h3 {
  font: var(--heading-3);
  margin: 1.2rem 0 1rem;
  color: var(--text-color-1);
}

h4 {
  font: var(--heading-4);
  margin: 1rem 0 0.8rem;
  color: var(--text-color-1);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
  }
}

p {
  margin: 0.75rem 0 0;
}

ul {
  margin: 0.75rem 0 0;
  padding: 0 0 0 1.2em;
  display: block;

  li {
    display: block;
    position: relative;

    &:not(:first-child) {
      margin: 0.375rem 0 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      margin-left: -1.1em;
      margin-top: 0.6em;
      width: 8px;
      height: 8px;
      background: var(--text-color-4);
      transform: rotate(45deg);
    }
  }

  ul {
    margin: 0;
  }
}

figure {
  margin: 2rem;
  position: relative;

  img {
    max-width: 100%;
  }
}

code {
  font: 0.825em/1.5em "Fira Code";
  color: var(--code-color);
  background: var(--code-background);
  padding: 0 3px;
  border-radius: 3px;
}

pre > code.hljs {
  font: 0.95rem/1.5em "Fira Code";
  background: unset;
  padding: unset;
  border-radius: unset;
}
