@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Bold.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/AlegreyaSans/AlegreyaSans-BoldItalic.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Light.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/AlegreyaSans/AlegreyaSans-LightItalic.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Medium.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/AlegreyaSans/AlegreyaSans-MediumItalic.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Regular.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/AlegreyaSans/AlegreyaSans-Italic.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/AlegreyaSans/AlegreyaSansSC-Bold.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/AlegreyaSans/AlegreyaSansSC-BoldItalic.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/AlegreyaSans/AlegreyaSansSC-Light.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/AlegreyaSans/AlegreyaSansSC-LightItalic.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/AlegreyaSans/AlegreyaSansSC-Medium.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/AlegreyaSans/AlegreyaSansSC-MediumItalic.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AlegreyaSans/AlegreyaSansSC-Regular.otf") format("opentype")
}

@font-face {
  font-family: "Alegreya Sans SC";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/AlegreyaSans/AlegreyaSansSC-Italic.otf") format("opentype")
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/FiraCode/FiraCode-Light.otf") format("opentype")
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/FiraCode/FiraCode-Regular.otf") format("opentype")
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/FiraCode/FiraCode-Medium.otf") format("opentype")
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/FiraCode/FiraCode-Bold.otf") format("opentype")
}

:root {
  --gold: #826a3e;
  --gold-50-bright: #79643c; /* 50% brightness */
  --dark-gold: #5d4517;
  --white: #f7f4ed;
  --grey: #7a7a7a;
  --black: #111;
  --blue: #0075ac;
  --bright-blue: #3bb8f1;
  --layout-unit: 20px;
  --max-width: 800px;

	--separator-color: var(--grey);
	--separator-color-halftransparent: rgba(122, 122, 122, .3);
	--secondary-text-color: rgba(122, 122, 122, .5);
	--disabled-color: rgba(122, 122, 122, .3);
	--separator-color-transparent: rgba(122, 122, 122, .2);
	--selection-color: var(--gold-50);
	--accent-color: var(--gold);
	--accent-color-intense: var(--dark-gold);
	--background-color: var(--black);
	--background-color-transparent06: transparentize(#111, .4);
	--background-color-transparent08: transparentize(#111, .2);
	--headings-color: #f7f4ed;
	--text-color: var(--grey);
  --link-color: var(--gold-50-bright);
  --link-color-hover: var(--dark-gold);
  --footer-text-color: var(--grey);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  font: 400 16px/24px "Alegreya Sans";
  color: var(--text-color);
  letter-spacing: 0.03em;
  min-height: calc(100vh - 200px);
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  height: 120px;
  width: 120px;
}

@media (max-width: 600px) {
  body > div {
    align-items: flex-start;
  }

  ul {
    padding-left: 26px;
  }
}

/* HEADER */

header {
  height: calc(var(--layout-unit) * 4);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--background-color);
  display: flex;
  justify-content: center;
}

#header-inner {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 calc(var(--layout-unit) * 2);
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none outside none;
  height: calc(var(--layout-unit) * 4);
}

header nav ul li:not(:first-child) {
  margin-left: calc(var(--layout-unit) * 2);
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.3em;
  display: block;
}

header nav ul li a,
header nav ul li a:visited {
  color: var(--link-color);
  z-index: 2;
}

header nav ul li a:hover {
  color: var(--link-color-hover);
}

header #header-logo {
  height: calc(var(--layout-unit) * 2);
  z-index: -1;
  pointer-events: none;
  display: block;
}

/* MAIN */

main {
  display: flex;
  justify-content: center;
  padding: calc(var(--layout-unit) * 5) 0 0;
}

#main-inner {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 calc(var(--layout-unit) * 2);
}

main h1 {
  font: italic normal 400 2.8em/1.2em "Alegreya Sans";
  margin: 68px 0 0;
  color: var(--headings-color);
}

main h2 {
  font: normal 400 24px/32px "Alegreya Sans";
  margin: 48px 0 0;
  color: var(--headings-color);
}

main a,
main a:visited {
  color: var(--link-color);
}

main a:hover {
  color: var(--link-color-hover);
}

main p {
  margin: 20px 0 0;
}

main ul {
  padding: 0 0 0 25px;
  margin: 20px 0 0;
  display: block;
}

main ul li {
  display: block;
  position: relative;
}

main ul li::before {
  content: "";
  display: block;
  position: absolute;
  margin-left: -24px;
  margin-top: 10px;
  width: 8px;
  height: 8px;
  background: var(--separator-color-halftransparent);
  transform: rotate(45deg);
}

/* HOME */

main.home h1 {
  display: flex;
  flex-direction: column;
}

main.home h1 span:last-child {
  font-size: 0.7em;
  color: var(--text-color);
}

/* ABOUT */

address {
  font-style: normal;
}

p.license {
  white-space: pre-line;
  max-width: 600px;
  font: 14px/22px "Fira Code";
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  padding: calc(var(--layout-unit) * 4) 0;
  margin-top: calc(var(--layout-unit) * 2);
}

#footer-inner {
  width: 100%;
  max-width: var(--max-width);
  padding: 0 calc(var(--layout-unit) * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

footer ul li::before {
  display: none;
}

footer ul li a,
footer ul li a:hover,
footer ul li a:visited {
  text-decoration: none;
  color: var(--footer-text-color);
}

footer #footer-logo {
  height: calc(var(--layout-unit) * 3);

}
