{% set mainClass = "download" %}
{% set route = "download" %}
{% set title = "Herunterladen" %}

{% extends "de/layout.njk" %}

{% block content %}
<h1>Optolith herunterladen</h1>
<p>Optolith ist verfügbar für Windows (exe), Mac (dmg) und Linux (64-bit, AppImage und tar.gz).</p>
<p><a class="btn" href="http://www.ulisses-ebooks.de/product/209711">Zum Scriptorium</a></p>
{% endblock %}
