{% set mainClass = "imprint" %}
{% set route = "imprint" %}
{% set title = "Impressum" %}

{% extends "de/layout.njk" %}

{% block content %}
<h1>Impressum</h1>

<h2>Anschrift</h2>
<address>
  Lukas Obermann<br>
  Ballastbrücke 29<br>
  24937 Flensburg
</address>

<h2>Kontakt</h2>
<dl>
  <dt>E-Mail</dt>
  <dd><a href="mailto:support@optolith.app">support@optolith.app</a></dd>
  <dt>Telefon</dt>
  <dd><a href="tel:+4915227707397">01522 7707397</a></dd>
</dl>
{% endblock %}
